__pycache__/
test.py
lossplot.py
experiment.py
generate_spec.py
build/
site/
sources/
sasa_stacker/data/*
!sasa_stacker/data/smats
!sasa_stacker/data/params.pickle
!sasa_stacker/data/NN_smats.db
!sasa_stacker/data/test.npy

!sasa_stacker/data/models
sasa_stacker/data/models/*
!sasa_stacker/data/models/best_inverse.h5

*.egg-info/
dist/
